/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  } */
  
  .clock-container {
    text-align: center;
  }
  
  #digital-clock {
    font-size: 3em;
  }
  