/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  } */
  
  .todo-container {
    text-align: center;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
  }
  